input[type="text"], button {
  padding: 10px;
  font-size: 15px;
  border: solid;
  border-radius: 6px;
  border-color: #d1d3db;
  margin: 3px;
}

input[type="text"] {
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4759bc;
  color: white;
}    

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

section {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stocks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 450px;
    transition: all 0.2s ease-in-out;
    margin-top: 5px;
  }
  
.stock-name {
    max-width: 400px;
    font-weight: bold;
    margin-right: 15px;
    font-size: 18px;
}

.stock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stocks:hover {
  background-color: #4c51b19b;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.link {
  text-decoration: none;
  color:#4759bc;
  transition: color 0.1s ease;
}

.link:hover {
  color: white;
}