.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"],[type='email'],[type='password'] {
    padding: 10px;
    font-size: 15px;
    border: solid;
    border-radius: 6px;
    border-color: #d1d3db;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 3px;
}

small{
    margin-top: 10px;
    opacity: .5;
}

#SignupBtn {
    margin-left: 50px;
}