.signin-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    border: solid;
    border-radius: 6px;
    border-color: #d1d3db;
    width: 400px;
    height: 500px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
}

input[type='email'],input[type='password'] {

    padding: 10px;
    font-size: 15px;
    border: solid;
    border-radius: 6px;
    border-color: #d1d3db;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 3px;
    margin-left: 10px;
}

#signinBtn {
    margin-left: 3px;
    width: 280px;
}

#signinBtn:hover, button:hover, #signUpBtn:hover {
    background-color: #4c51b19b;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

#signUpBtn {
    margin-left: 3px;
    background-color: #4759bc;
    color: white;  
    box-shadow: 0 0 10px 5px rgba(122, 121, 121, 0.1);   
    border: 2px solid #c0bfbf;
    border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    width: 235px;
    text-align: center;
    font-size: 14px;
}

#sSI{
    margin-top: 10px;
    margin-bottom: 5px;
    /* margin-left: 50px; */
    opacity: .5;
}  

#GoogleSI{
    margin-left: 10px;
    border-radius: 50%;
    color:white;
    background-color: rgb(105, 98, 98);
}

#GoogleSI:hover{
    background-color: rgb(163, 6, 6);
}

/* added to allow users to sign in without signing up */
#btnLi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}