body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* nav page */
.nav{
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
}

.nav ul{
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: 1px;
  justify-content: space-around;
}

.nav li{
  margin-right: 10px;
}

.nav img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.nav button{
  font-size: 20px;
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}


